/* general */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-bg-main: #ffffff;
	--color-box-8: #ffd830;
	--color-box-7: #0d2481;
	--color-box-6: #ff1c1c;
	--color-box-5: #0093ce;
	--color-box-4: #b4d0e7;
	--color-box-3: #d5001f;
	--color-box-2: #61082b;
	--color-box-1: #a2d39b;
	--color-bg-bottom: #0061ff;
	--color-box-big: #f5f5f5;
	--color-testo-grigio:#727372;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Noto Sans JP', sans-serif;
	min-width: 1200px;
		
	
}

.container-header{
	padding: 3% 10%;
	
	
}

.container-main{
	min-width: 1200px;
	margin: 0 auto;
	padding: 0 20%;
	margin-top: 20vh;
}

.container-main-largo{
	margin-top: 20vh;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}
.link:hover{
	color:purple;
	text-shadow: #0093ce;
}
.botton-blu:hover{
	background-color: #4383ea;
	box-shadow: 2px 3px 3px var(--color-bg-hero);
	border: 1px solid var(--color-bg-bottom);
}

.bottone-bianco:hover{
	border: 2px solid black;
	box-shadow: 2px 3px 3px var(--color-testo-grigio);
	text-shadow: 2px 3px 3px var(--color-testo-grigio);
}

.bottone-grigio:hover{
	border: 2px solid black;
	box-shadow: 2px 3px 3px var(--color-testo-grigio);
	
}

div.div-footer ul li a:hover{
	text-decoration: underline;
}
i{
	padding: 5px;
}
.botton-blu{
	background-color: #0061ff;
	color: var(--color-bg-main);
	padding: 6px 15px;
	text-align: center;
}

hr{
	width: 20%;
	color: var(--color-testo-grigio);
}
.titolisection{
	font-size: 2em;
}
/* dropdown */

.dropdown {
	position: relative;
	
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	min-width: max-content;
	left: 0;
	margin-top: 24px;
	background-color: var(--color-bg-main);
	color: var(--color-bg-footer);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
	padding: 10px;
	z-index: 5000;
	
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

/* flex */

.d-flex {
    display: flex;
    flex-flow: row wrap;    
}

.r-flex{
	display: flex;
	flex-direction: row;
}
.space-between{
	display: flex;
	justify-content: space-between;
}
.stretch{
	display: flex;
	align-content: stretch;
	align-items: stretch;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px; 
	padding:30px 0;
	;
  }

  .grid-container div{
	padding: 5px ;
	
  }
  
.column{
	display: flex;
	flex-direction: column;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.padding-30px{
	padding: 30px;
}

.padding-lr-30px{
	padding-left: 30px;
	padding-right: 30px;
}

/* header */

#header{
	width: 100%;
	position: relative;
	margin-bottom:10vh ;
	box-shadow: 1px 3px 3px lightgray;
}

nav{
	background-color: var(--color-bg-main);
	height: 70px;
	text-align: center;
	justify-content: space-between;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
	box-shadow: 1px 2px 2px var(--color-bg-bottom);

}
.testo-nav{
	color: var(--color-testo-grigio);
}

.testo-nav li{
	padding: 25px;
	text-align: left;
}

.testo-nav li:hover{
	background-color: var(--color-bg-hero);
	color: var(--color-bg-main);
}

/* hero */
.hero{
	background-color: var(--color-bg-hero);
	min-height: 80vh;

}

.div-hero{
	position: relative;
	top: 17vh;
	left:0;
}
.titolo-hero{
	font-size: 3.8em;
	font-weight:900;
	padding: 0 20px;
}
.img-hero{
	width: 100%;
}

.div-testo-hero{
	width: 40%;
	padding: 30px 20px;
	font-size: 1em;
}

.freccia{
	font-size: 2em;
}

.div-img-hero{
	width: 60%;
	padding: 30px 0;

}
/* main */

/* sezione 1 */

.link{
	text-decoration: underline;
	color: var(--color-bg-bottom);
}

label{
	padding-left: 5px;
}
.bordi-box{
	border: 1px solid var(--color-testo-grigio);
}

.bordi-box > div:first-child{
	border-bottom: 1px solid var(--color-testo-grigio);
	text-align: center;
}

.enterprice{
	width: 600px;
	text-align: left;
	font-size: 0.9em;
}

/* versione 2 sezione1 */

.container-colonne{
	gap: 10px;
	min-height: 90vh;
	margin-bottom: 10vh;
	min-width: none;
	justify-content: space-between;
}

.container-colonne> div{
	display: flex;
	align-items: stretch;
	align-content: stretch;
	width:calc(100%/ 3 - 10px);

}
.list-icon{
	text-indent: -0.8em;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.bottone-enterprise{
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 30px;
	width: 50%;

}

.margin-top-bot{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* sezione 2 */
.img-section2{
	background-image: url(../img/partner.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 200%;
}
.div-section2{
	height:55vh;
}

.bottone-grigio{
	
	font-weight: 400;
	padding: 10px;
	text-align: center;
	border: 2px solid var(--color-testo-grigio);
}

/* sezione3 */

.box-sezione3{
	width: calc(100% / 3 - 10px);
	margin-left: 5px;
	padding:20px 20px 20px 0;
}

.img-section3{
	width: 100%;
}

/* sezione4 */

.div-sezione4{
	width: 60%;
}
.pippo{
--color-bg-hero: #b8d1e5;
	--color-bg-footer: #000000;
	--color-bg-main: #ffffff;
	--color-box-8: #ffd830;
	--color-box-7: #0d2481;
	--color-box-6: #ff1c1c;
	--color-box-5: #0093ce;
	--color-box-4: #b4d0e7;
	--color-box-3: #d5001f;
	--color-box-2: #61082b;
	--color-box-1: #a2d39b;
	--color-bg-bottom: #0061ff;
	--color-box-big: #f5f5f5;
	--color-testo-grigio:#727372;
}
/* div cubotti */
.container-cubi{
	position: relative;
	width:33%;
	height:calc(100vw/3);
	
}
.container-testo{
	width: 33%;
	height:calc(100vw/3);
	margin: auto;
	padding-top: 50px;
}

.container-testo span{
	padding-top: 30px;
}
.cubotto{
	width: 50%;
	height:50%;
}

div.cubotto :first-child{
	filter: invert(1);
	width: 50%;
}

.overflow{
	overflow-y: auto;
}
/* cubi a sinistra */
.cubotto-top-left{
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-box-1);
	border: 10px solid #d1e9cd ;
}

.cubotto-top-left:hover{
	background-color: #bbdcb6;
}

.cubotto-top-right{
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--color-box-2);	
}

.cubotto-top-right:hover{
	background-color: #8d0d40;
}

.cubotto-bot-left{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color:var(--color-box-5);	
}

.cubotto-bot-left:hover{
	background-color: #01a8ea;
}

.cubotto-bot-right{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--color-box-6);	
}
.cubotto-bot-right:hover{
	background-color: #fe4848;
}

/* sezione centrale */
.logo-central{
	width: 200px;
}
/* cubi a destra */
.cubotto-top-left2{
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-box-3);
	
}

.cubotto-top-left2:hover{
	background-color:#f2314e;
}

.cubotto-top-right2{
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--color-box-4);	
}

.cubotto-top-right2:hover{
	background-color:  #c6e5ff;
}
.cubotto-bot-left2{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--color-box-7);	
}

.cubotto-bot-left2:hover{
	background-color:  #1434b3;
}
.cubotto-bot-right2{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--color-box-8);	
}

.cubotto-bot-right2:hover{
	background-color:  #f5e18b;
}

/* fascia azzurra */
.fascia-azzurra{
	background-color: var(--color-box-4);
	min-width: 1200px;
	padding:5% 20%;
}


.titolo-fascia-azz{
	color:#61082b;
	width: 50%;
}

.bottone-bianco{
	background-color: var(--color-bg-main);
	padding: 10px 20px;
	margin-left: 100px;
}

/* lista domande */

.list-domande{
	border-top: 1px solid var(--color-testo-grigio);
	border-bottom: 1px solid var(--color-testo-grigio);
	display: flex;
	justify-content: space-between;
}

summary{
	padding-bottom: 10px;
}

.list-domande:hover{
	background-color: rgba(211, 211, 211, 0.355);
}
.margin-bottom{
	margin-bottom: 20vh;
}

/* footer */

footer{
	background-color: var(--color-bg-footer);
	color: var(--color-bg-main);
	padding: 2% 10%;
	
}

.div-footer{
	padding: 10% 0;
	display: flex;
	justify-content: space-between;
}

div.div-footer>ul{
	padding: 0 20px;
	line-height: 2;
}

/* header seconda pagina accedi */
#header-accedi{
	height: 7vh;
	width: 100%;
	border-bottom: 1px solid rgb(175, 167, 167);	
	
	
}

.main-accedi{
	height: 79vh;
}

.left{
	justify-content: left;
}
.container-main-accedi{
	width: 25%;
	padding: 20px;
}
.main-accedi div{
	padding: 2px;
	

}

input[type="email"] {
	width:100%;
	padding: 10px;
	border: 3px solid var(--color-bg-bottom);	
  }
.bordi-accedi{
	border: 2px solid lightgray;
	margin-top: 30px;
	margin-bottom: 20px;
} 
.padding-l{
	padding-left: 75px;
}

.bordi-accedi:hover{
	border: 1px solid black;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.registrati :hover{
	text-decoration: underline;
	color: #0061ff;
}

.img-logo-google{
	width: 20px;
	height: 20px;
}

/* effetto accordion */


.accordion-header {
	background-color: var(--color-bg-main);
	border-top: 1px solid black;
	padding: 20px 10px;
	display: block;
	text-decoration: none;
  }
  
  
  .accordion-content {
	display: none;
  }
  
  .accordion-content:target {
	background-color: var(--color-bg-hero);
	display: block;
  }
  
  .accordion-header:hover {
	background-color: var(--color-bg-hero);
  }
  
  
.debug{
	border:2px solid #0061ff;
}